body {
  font-family: "Rubik", sans-serif;
}

.Comments {
  padding: 30px;
  margin: 0 auto;
  background-color: antiquewhite;
  width: 50%;
  margin-bottom: 20px;
}

.votingBtn {
}

.addCommentSection {
  display: flex;
  justify-content: space-around;
  background-color: gainsboro;
  padding: 30px;
  width: 50%;
  margin: 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
